@model Models.Models.Author

<h2>Edit</h2>

<style>
    .edit_button {
        color: white;
        background-color: blue;
        border-radius: 10px;
        text-decoration: none;
        padding: 5px;
    }

    .cancel_button {
        color: white;
        background-color: red;
        border-radius: 10px;
        text-decoration: none;
        padding: 5px;
    }
</style>


<form asp-action="Edit" asp-controller="Author" method="post">
    <div>
        <input type="hidden" asp-for="AuthorId" />
    </div>

    <div>    
    <label asp-for="FirstName"> FirstName</label>
    <input type="text" asp-for="FirstName" />
    </div>

    <div>      
    <label asp-for="LastName"> LastName</label>
    <input type="text" asp-for="LastName" />
    </div>
            
    <div>            
    <label asp-for="BirthDate"> BirthDate</label>
    <input type="date" asp-for="BirthDate" />
    </div>
                
    <div>                
    <label asp-for="Location"> Location</label>
    <input type="text" asp-for="Location" />
    </div>
@*     <a asp-action="Edit" asp-controller="Author" class="edit_button" > Edit</a>
 *@
    <button class ="edit_button"> Edit</button>
    <a asp-action="Author_Index" asp-controller="Author" class="cancel_button"> Cancel</a>
</form>
